#root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
body {
    border: 1px solid rgb(253, 152, 152);
}
/* #facts {
 align-self: flex-end;
}
*/
